/*------------ About Me Section ---------------*/
.about-us{
    .container{
        padding: 1rem;
    }
  &__title{
      @include heading;
      span{
          @include span;
      }
  }
  &__cards{
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem;
  }
  &__card{
      flex: 1 1 25rem;
      text-align: center;
      img{
        border: 1.5rem solid rgba($white, 0.8);
        border-radius: 50%; 
        box-shadow: 0 0.5rem 1rem rgba($dark, 0.1);
        
      }
    }
    &__card-title{
        @include card-title;
        font-size: 2.125rem;
    }

}