/*------------ contact Section ---------------*/
.contact{
    
    overflow: hidden;
    &__title{
        @include heading;
        span{
            @include span;
        }
    }
    &__area{
        display: flex;
        flex-wrap: wrap;
        background: rgba($white, 0.9);
        gap: 1.2rem;
        border: 1.6rem solid rgba($white, 0.1);
        box-shadow: 0 0.5rem 1rem rgba($dark, 0.2);
        border-radius: 0.7rem;
        &--img{
            flex: 1 1 30rem;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 0.7rem;
            }
        }
        &--form{
            flex: 1 1 50rem;
            height: 100%;
            width: 100%;
            grid-column: contact;
            margin-right: auto;
            input{
                padding:1rem;
                margin:1rem 0;
                text-transform: none;
                width:100%;
                border: 1px solid rgba($dark, 0.2);
                border-radius: 0.5rem;
                @include computer_lg ($min-screen : 500px) {
                    font-size: 2.2rem;
                }
                
                text-transform: capitalize;
            }
        }
    }
    &__area--form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "name     email"
                            "number  food-name"
                            "address  address"
                            "button        button";
        column-gap: 1.5rem;
        margin: 1.5rem; 
        width: 100%;
        align-self: center;                
    }
    &__name{
        grid-column: name;
    }
    &__email{
        grid-column: email;
    }
    &__number{
        grid-column: number;
    }
    &__food-name{
        grid-column: food-name;
    }
    &__masseage{
        grid-column: address;
        height: 12rem;
        padding-bottom: 1.5rem;
        input{
            height: 100%;
        }
    }
    &__area--btn{
        @include computer_lg ($min-screen : 1065px) {
            margin-right: auto;
        }   
        grid-column: button;
        margin: 0 auto;
        
        margin-top: 1.2rem;
        font-size: 2.5rem;
    }
}