/*------------ Food Section ---------------*/
.food{
    &__title{
        @include heading;
        span{
            @include span; 
        }
        
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        &--box{   
            @include computer_md ($min-screen : 1025px, $max-screen : 1950px){
                flex: 1 1 35rem;
            }
        flex: 1 1 25rem;
        @include box;
        .price-tag{
            background: rgba($red, 0.9);
            position: absolute;
            top: 8%;
            left: 9%;
            @include text;
            padding: 0.8rem;
            font-size: 1.8rem;
            color: rgba($white, 0.9);
            box-shadow: 0 0.5rem 1rem rgba($dark, 0.1);
            border: .1rem solid rgba($dark, .2);
            border-radius: 0.5rem;
        }
        }
    }
    &__cards--img{
        width: 100%;
    }
    &__cards--title{
        @include card-title;
    }
    &__cards--stars i {
        color: rgba($gold, 0.9);
    }
}
