/*------------ Gallery Section ---------------*/
.gallery{
    
    &__title{
        @include heading;
        span{
            @include span;
        }
    }
    &__cards{
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        gap: 1.5rem;
    }
    &__card{
        @include computer_md ($min-screen : 1514px, $max-screen : 1928px){
            flex: 1 1 40rem;
        }
        @include computer_md ($min-screen : 881px, $max-screen : 1128px){
            flex: 1 1 22rem;
        }
        @include tablet ($min-screen : 660px, $max-screen : 880px){
            flex: 1 1 35rem;
        }
        flex: 1 1 30rem;
        box-sizing: border-box;
        @include box;
        padding: 0;
        border: 1rem solid rgba($white, 0.8);
        &:hover .gallery__card--text-area,
        &:focus .gallery__card--text-area{
            top: 0;
            transition: ease-in-out 250ms;
        }
        &-img{
            width: 100%;
        }
        &--text-area{
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: -100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba($dark, 0.6);
            position: absolute;
            text-align: center;
            padding: 2rem
        }
        &--heading{
            @include heading;
            color: rgba($white, 0.9);
            font-size: 2.125rem;
        }
        &--text{
            @include text;
            font-size: 1.2rem;
            color: rgba($white, 0.9);
        }
        &--btn{
            margin: 0 auto;
          padding: 0.8rem 1.5rem;  
        }
    }
}