/*------------ Portfolio Section ---------------*/
.speciality{
    &__title{
        @include heading;
        text-align: center;
        span{
            @include span;  
        }
    }
    &__boxs{
        display: flex;
        flex-wrap: wrap;
        //display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        align-items: center;
        gap: 1.5rem;
        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: -100%;
            left: 0;
            
        }
    }
    &__boxs--text-are{
        text-align: center;
        padding: 2rem;
        background: $white;
        img{
            margin: 1.5rem 0;
        }
    }
    &__box--heading{
        @include card-title;
    }

}
.box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba($dark, 0.1);
    border: .1rem solid rgba($dark, .3);
    cursor: pointer;
    border-radius: .5rem;
    &:hover .speciality__boxs--img,
    &:focus .speciality__boxs--img{
        top: 0;
        transition: ease-in-out 250ms;
    }
}

