/*------------ Speciality Section ---------------*/
.speciality{
    &__title{
        @include heading;
        text-align: center;
        span{
            @include span;  
        }
    }
    &__boxs{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5rem;
        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: -100%;
            left: 0;
            
        }
    }
    &__boxs--text-are{
        img{
            margin: 1.5rem 0;
        }
    }
    &__box--heading{
        @include card-title;
    }
    &__box--text{
        @include text;
        font-size: 1.2rem;
    }

}
.box{
    flex: 1 1 30rem;
    @include box;
    &:hover .speciality__boxs--img,
    &:focus .speciality__boxs--img{
        top: 0;
        transition: ease-in-out 250ms;
    }
}

